It was as if my parents were not there for me but yet I had been in several day programs. The night my dad left in a airplane I wanted to cry but did not know what was going on the morning my mother left me in a daycare called avance I cried
